Tests: default-psql
Depends: postgresql
Restrictions: needs-root

Tests: run-testsuite
Depends: postgresql-all, build-essential, debhelper, fakeroot, perl, hunspell-en-us, iproute2, locales-all, netcat-openbsd, procps, logrotate
Restrictions: needs-root
